/* RESET */
  *{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}
[class*=grid-], [class*=grid_], [class~=grid]{
margin: 0;
}

img{max-width: 100%;
}


/* Big Elements */
body{
  font-family: 'Laila', serif;
  font-weight:500;
  color: #2f3542;
}
html {
  scroll-behavior: smooth;
}
header,footer,section{
padding:2% 5%;
}
header:nth-child(2n),footer:nth-child(2n),section:nth-child(2n){
  background-color:#D5B9B2;
  color:white;
}

/* Typography */

h1,h2,h3,p{
margin-bottom: 1rem;
}

h1{
  font-weight: : 700;
}

h2,h3{
  font-weight:600;
  color: #A26769;
}
a{
  text-decoration: none;
  color: inherit;
}

span{
  font-weight: 700;
}

/* Universals Classes */
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.fixed-banner{
  background-attachment: fixed;
}
.fixed-banner h2{
  color:#9684A1;
  font-size: 4rem;
}

/* .feature-bg{
  background-color:#D5B9B2;
  color:white;
} */

.button{
border-bottom:0.2rem solid #A26769;
padding: 0.5rem;
margin: 2%;
  }

.feature-bg h2{
  font-size: 2rem;
  color: white;
}

.feature-bg h3{
  color: white;

}


.overlay{
  background-color: rgba(20,20,20, 0.35);

}
.full-height{
  min-height: 100vh;
}

.halfheight{
  min-height: 30vh;
}

.quarter-height {
  min-height: 25vh;
}

[class*=bg]{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }

.padding-0{
  padding: 0;
}
.padding-2{
  padding: 2%;
}
 .padding-3{
  padding: 3%;
}
 .padding-5{
   padding:5%;
}

.margin{
  margin: 0.5rem;
}
/* Background Images */
.bess-home-bg{
  background-image: url("/images/BessHome.jpg");
  }
  .pose-1-bg{
    background-image: url("/images/Pose1.jpg");

    }
  .pose-2-bg{
    background-image: url("/images/Besspose2.jpg");

  }
  .bowls-bg{
    background-image: url("/images/bowls.jfif")
  }
  .meditation-bg{
  background-image: url("/images/meditation.jfif")
}

  .bessevent-bg{
    background-image:url("/images/riseandshine.jpg");
    min-height: 100vh;
  }

  input, textarea {
    padding: 1%;
    margin: 1% auto;
    /* border-radius: 7px; */
    border: none;
    border-bottom: 1px solid  #9684A1;
    background-color: rgba(0,0,0,0);
    display: block;
    width: 80%;
}

[type=submit]{
  -webkit-appearance: none;
  background-color: white;
  width: 20%;
  border: 1px solid  #9684A1;
  border-radius: 8px;
}

.contact-form h1,.contact-form p{
    padding: 1%;
    margin: 1% auto;
    width: 80%;
}



/* DES BURGER - CODEPEN */

.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: green;
  background-color:#383;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: -100vh;
    left:0;
    right: 0;
    bottom: 100vh;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
  top:0;
  bottom:0;
}
.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
/* media queries */

.mobile-show{
  display: none;
  }

#size-indicator {
  background-color: yellow;
  color: black;
  display: none;
}

@media (min-width: 36em) {
  /* CSS in here is for small and up */
  #size-indicator {
    background-color: teal;
    color: white;
      }
}

@media (min-width: 48em) {
  /* CSS in here is for medium and up */
  #size-indicator {
    background-color: red;
    color: white;
  }

  .feature-bg h2{
    font-size: 3rem;
  }

  .halfheight{
    min-height: 50vh;
  }
}

@media (min-width: 64em) {
  /* CSS in here is for large */
  #size-indicator {
    background-color: black;
    color: white;
  }

  nav {
    font-size: 1.2rem;
  }
}

@media (min-width: 80em) {
  /* CSS in here is for extra-large */
}

@media (max-width:768px) {
  .mobile-show{
  display: block;
}
  .mobile-hide{
  display: none;}
}
